<% provide(:title, @taxon.name) %>
<%= render "light_section", taxon: @taxon %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render "sidebar", taxonomies: @taxonomies %>
      <%= render "filterarea", products: @products %>
    </div>
  </div>
</section>
<%= render "second_light_section", taxon: @taxon %>
